* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  /* height: 50%; */
}

.container {
  animation-name: rotate;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.green {
  background-color: green;
  height: 150px;
  width: 150px;
  border-top-left-radius: 100%;
}

.yellow {
  background-color: blue;
  height: 150px;
  width: 150px;
  border-bottom-left-radius: 100%;
}

.red {
  background-color: yellow;
  height: 150px;
  width: 150px;
  border-top-right-radius: 100%;
}
.blue {
  background-color: red;
  height: 150px;
  width: 150px;
  border-bottom-right-radius: 100%;
}
